*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#email {
    border: 2px solid #09090991;
}
#password {
    border: 2px solid #09090991;
}
#Confirmpassword {
    border: 2px solid #08070791;
}

@media only screen and (max-width: 768px) {
    .bg-no-repeat.bg-cover.col-span-12.lg\:col-span-4.p-100.rounded-2xl {
        padding: 100px;
    }

}

.mt-9 {
    margin-top: 6.25rem;
}

.relative.justify-center\' {
    padding-top: 10px;
    padding-left: 15px;

    padding-bottom: 10px;

}
